<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Dashboard</title>

    <link rel="stylesheet" href="../static/style.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="dashboard-container">

    

    <div class="sidebar">

        <h2>EduFlow</h2>

        <ul>

            <li><i class="fa-solid fa-house"></i> Dashboard</li>

            <li><i class="fa-solid fa-user-graduate"></i> Students</li>

            <li><i class="fa-solid fa-book"></i> Courses</li>

            <li><i class="fa-solid fa-gear"></i> Settings</li>

        </ul>

    </div>

    <!-- Main Content -->

    <div class="main-content">

        <div class="top-bar">

            <h1>Dashboard</h1>

        </div>

        <!-- Cards -->

        <div class="cards">

            <div class="card">
                <h2>250</h2>
                <p>Total Students</p>
            </div>

            <div class="card">
                <h2>15</h2>
                <p>Departments</p>
            </div>

            <div class="card">
                <h2>20</h2>
                <p>Staff Members</p>
            </div>

        </div>

    </div>

</div>

</body>
</html>