<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>

    <h2>Edit Student</h2>

    <form method="POST">

        <label>Name:</label><br>
        <input type="text" name="name" value="{{ student[1] }}"><br><br>

        <label>Department:</label><br>
        <input type="text" name="department" value="{{ student[2] }}"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" value="{{ student[3] }}"><br><br>

        <button type="submit">Update Student</button>

    </form>

</body>
</html>