<!DOCTYPE html>
<html lang="en">

<head>
  

    <title>Login Page</title>

    <link rel="stylesheet" href="../static/style.css">

   
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <div class="container">

        <div class="login-box">

            <div class="header">

                <h3><i class="fa-solid "></i> LOGIN PAGE</h3>

                <h1>Welcome to eduflow</h1>

            </div>

            <form>

                <label>Email Address</label>

                <div class="input-box">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="ENTER YOUR MAIL ID ">
                </div>

                <label>Password</label>

                <div class="input-box">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="••••••••••">
                </div>

                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div>

                <button type="submit">Sign In</button>

            </form>

        </div>

    </div>

</body>

</html>